.footer {
  padding: 60px 0;
  &__logo {
    margin-bottom: 25px;
  }
  .text {
    color: #818a97;
    font-size: 14px;
    line-height: 157%;
  }
  &__info {
    p {
      margin-top: 0px;
      margin-bottom: 0px;
      color: #818a97;
      font-size: 14px;
      line-height: 157%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .nav {
    margin-top: 35px;
    &__link {
      color: #818a97;
    }
  }

  .social {
    display: flex;
    a {
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
