.partners {
  background-color: var(--gray-color);

  &__gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
  }
}

.gallery {
  margin-top: 140px;
  &__item {
    width: 154px;
    height: 154px;
    background-color: #d9d9d9;
  }
}
