<footer class="footer section">
  <div class="container">
    <div class="footer__top">
      <div class="footer__logo logo logo-dark">aartema</div>
      <p class="text"><i>Make your business great again!</i></p>

      <div class="footer__info">
        <p class="street">Moskovskaya Str. 267</p>
        <p class="address">224009 Brest</p>
        <p class="country">Belarus</p>
      </div>
    </div>
    <div class="footer__bottom">
      <nav class="footer__nav" title="Footer menu">
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a href="#services" class="footer__link" data-scroll>Services</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link" data-graph-path="popup"
              >Feedback</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer__social social">
        <a
          href="https://www.instagram.com/aartema"
          target="_blank"
          class="social__link"
          ><img
            src="https://uploads-ssl.webflow.com/5f96a56367c48d79bc232405/5fa014925a548c32663dd28a_IG.svg"
            loading="lazy"
            alt=""
            class="social__photo inst"
        /></a>
        <a
          href="https://www.instagram.com/aartema"
          target="_blank"
          class="social__link"
          ><img
            src="https://uploads-ssl.webflow.com/5f96a56367c48d79bc232405/5fa014925a548c32663dd28a_IG.svg"
            loading="lazy"
            alt=""
            class="social__photo inst"
        /></a>
        <a
          href="https://www.instagram.com/aartema"
          target="_blank"
          class="social__link"
          ><img
            src="https://uploads-ssl.webflow.com/5f96a56367c48d79bc232405/5fa014925a548c32663dd28a_IG.svg"
            loading="lazy"
            alt=""
            class="social__photo inst"
        /></a>
        <a
          href="https://www.instagram.com/aartema"
          target="_blank"
          class="social__link"
          ><img
            src="https://uploads-ssl.webflow.com/5f96a56367c48d79bc232405/5fa014925a548c32663dd28a_IG.svg"
            loading="lazy"
            alt=""
            class="social__photo inst"
        /></a>
      </div>
    </div>
  </div>
</footer>
