<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta content="../img/obg.png" property="og:image" />
  <meta content="aartema | Digital Creative Agency" property="og:title" />
  <meta
    content="Your path to global success starts here. We offer you endless opportunities to expand your digital reach, connect with your audience, and drive engagement. Explore the power of effective linking with us."
    name="description"
  />
  <meta
    content="Your path to global success starts here. We offer you endless opportunities to expand your digital reach, connect with your audience, and drive engagement. Explore the power of effective linking with us."
    property="og:description"
  />
  <meta content="aartema | Digital Creative Agency" property="twitter:title" />
  <meta
    content="Your path to global success starts here. We offer you endless opportunities to expand your digital reach, connect with your audience, and drive engagement. Explore the power of effective linking with us."
    property="twitter:description"
  />
  <meta name="theme-color" content="#dbff00" />
  <title>aartema | Digital Creative Agency</title>
  <link
    rel="preload"
    href="fonts/AvenirNextLTPro-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link`
    rel="preload"
    href="fonts/AvenirNextLTPro-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/AvenirNextLTPro-Demi.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/AvertaCyrillicSemiBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
    integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script defer src="js/main.js"></script>
</head>
<div class="cursor" id="cursor"></div>
