<header class="header">
  <div class="header__container container">
    <a href="#" class="logo"> aartema </a>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#services" class="nav__link" data-scroll>Services</a>
        </li>
        <li class="nav__item">
          <a href="#partners" class="nav__link" data-scroll>Partners</a>
        </li>
        <li class="nav__item">
          <a href="#team" class="nav__link" data-scroll>Team</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link" data-scroll>Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
