<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 id="greeting">Hello! &#128075;</h1>
      <h2></h2>
      <div class="hero__services services-list">
        <h2 class="services-list__item aartema-link">design</h2>
        <h2 class="services-list__item aartema-link">dev</h2>
        <h2 class="services-list__item aartema-link">marketing</h2>
        <h2 class="services-list__item aartema-link">others</h2>
      </div>
    </div>
  </div>
</section>
<div class="version">
  v. 0.1.1.0 - in procces -
  <a href="https://t.me/artyommarketing">@artyommarketing</a>
</div>
