<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 id="greeting">Hello! &#128075;</h1>
      <h2></h2>
      <ul class="hero__services services-list">
        <li class="services-list__item aartema-link">design</li>
        <li class="services-list__item aartema-link">dev</li>
        <li class="services-list__item aartema-link">marketing</li>
        <li class="services-list__item aartema-link">others</li>
      </ul>
    </div>
  </div>
</section>
<div class="version">
  v. 0.1.1.0 - in procces -
  <a href="https://t.me/artyommarketing">@artyommarketing</a>
</div>
