<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "aartema | Digital Creative Agency",
    "url": "https://aartema.co/"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "aartema | Digital Creative Agency",
    "url": "https://aartema.co/",
    "logo": "https://aartema.co/img/logo.svg",
    "description": "We offer you endless opportunities to expand your digital reach, connect with your audience, and drive engagement. Explore the power of effective linking with us.",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+852-9495-7479",
      "contactType": "CEO"
    }
  }
</script>
