<div class="graph-modal">
  <div
    class="graph-modal__container popup"
    role="dialog"
    aria-modal="true"
    data-graph-target="popup"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      X
    </button>
    <div class="graph-modal__content">
      <div class="popup__info info-popup">
        <div class="info-popup section-label section-label-black">Contact</div>
        <div class="info-popup__title">Hi-ya! Lets talk 👋🏿</div>
        <div class="info-popup__paragraph">
          To get the ball rolling, we need just a little information from you...
        </div>
      </div>

      <form class="form" action="#" method="post">
        <div class="popup_section section-popup">
          <h3 class="section-popup__title --fill">I'm interested in...</h3>
          <div class="container"></div>
        </div>
        <div class="popup_section">
          <h3 class="section-popup__title --stroke">I'm interested in...</h3>
        </div>
        <button class="btn-reset form__btn btn">Send</button>
      </form>
    </div>
  </div>
</div>
