<section class="partners section" id="partners">
  <div class="container">
    <div class="partners__label section-label section-label-black">
      Partners
    </div>
    <h2 class="partners__title section-title">
      Partnering with the businesses
    </h2>
    <p class="partners__paragraph section-paragraph paragrapg-reset">
      We work with individual entrepreneurs, small and large business around the
      world, giving you a high level of expertise and experience to solve your
      challenge.
    </p>
    <div class="partners__gallery gallery">
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
      <div class="gallery__item"></div>
    </div>
  </div>
</section>
