<section class="partners section" id="clients">
  <div class="container">
    <div class="partners__label section-label section-label-black">
      our clients
    </div>
    <h2 class="partners__title section-title">
      Partnering with the businesses
    </h2>
    <p class="partners__paragraph section-paragraph paragrapg-reset">
      We work with individual entrepreneurs, small and large business around the
      world, giving you a high level of expertise and experience to solve your
      challenge.
    </p>
    <div class="partners__gallery gallery">
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner3.svg"
          class="image"
          width="154px"
          height="38px"
          alt="microbor"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner2.svg"
          class="image"
          width="155px"
          height="43px"
          alt="aviabileti"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner5.svg"
          class="image"
          width="155px"
          height="74px"
          alt="chemical"
        />
      </div>

      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner7.svg"
          class="image"
          width="155px"
          height="45px"
          alt="novokyznec"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner6.svg"
          class="image"
          width="154px"
          height="35px"
          alt="electric"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner4.svg"
          class="image"
          width="155px"
          height="77px"
          alt="add"
        />
      </div>

      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner8.svg"
          class="image"
          width="77px"
          height="77px"
          alt="ttm"
        />
      </div>

      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner-eco.png"
          class="image"
          width="154px"
          height="35px"
          alt="stimprep"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner-gluvex.svg"
          class="image"
          width="165px"
          height="61px"
          alt="stimprep"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner-furst.svg"
          class="image"
          width="154px"
          height="35px"
          alt="stimprep"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner1.svg"
          class="image"
          width="154px"
          height="35px"
          alt="stimprep"
        />
      </div>
      <div class="gallery__item">
        <img
          loading="lazy"
          src="../img/svg/partner9.svg"
          class="image"
          width="154px"
          height="64px"
          alt="global media"
        />
      </div>
    </div>
  </div>
</section>
