<section class="promo section">
  <div class="container">
    <h2 class="promo__title section-title">
      Have you already had a bad experience with the services described above?
    </h2>
    <p class="promo__paragraph section-paragraph">
      Get a free audit of your product! We'll check everything and tell you why
      it didn't work!
    </p>

    <button
      class="btn-reset promo__button hero__button btn"
      data-graph-path="popup"
    >
      Free audit!
    </button>
  </div>
</section>
