<section class="services section" id="services">
  <div class="container">
    <div class="label section-label">Services</div>
    <h2 class="services__title section-title">
      Product design, development and social media marketing.
    </h2>
    <p class="services__paragraph section-paragraph">
      We help businesses do more profits with innovation products.
    </p>
    <p class="services__paragraph section-paragraph">
      Right from the start, we help to build smart strategy and set priorities
      that users love and businesses value.
    </p>

    <div class="services__card card">
      <h2 class="card__title">We work with our clients in four ways</h2>

      <div class="card__item item-card card-fluid">
        <h3 class="item-card__title">UX/UI Design</h3>
        <p class="item-card__paragraph">
          We make high-quality design that modern users like and customers value
        </p>
      </div>
      <div class="card__item item-card">
        <h3 class="item-card__title">Web & Mobile Development</h3>
        <p class="item-card__paragraph">
          We have 3+ years of experience in developing websites and mobile
          applications with high quality control
        </p>
      </div>
      <div class="card__item item-card">
        <h3 class="item-card__title">SMM</h3>
        <p class="item-card__paragraph">
          We use social platforms as channels to promote the brand, drive
          traffic and increase sales.
        </p>
      </div>
      <div class="card__item item-card">
        <h3 class="item-card__title">ADs and SEO</h3>
        <p class="item-card__paragraph">
          We set up contextual advertising & SEO aimed at high-performance apps
          and the growth of your profits.
        </p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</section>
