// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Avenir", sans-serif;
  --content-width: 100%;
  --container-offset: 25px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // MARK: colors
  --black-color: #000000;
  --light-color: #fff;
  --accent-color: #dbff00;
  --dark-color: #151924;
  --gray-color: #f2f2f2;
  // 010028

  --burger-color: #151924;

  --dark-text-color: #000000;
}
